* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --br: 30px;
}

body {
    background: wheat;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    padding: 39px 0 8px 0;
    margin: 0;
    font-size: 22px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
}

.items {
    background: lightseagreen;
    color: white;
    padding: 10px;
}

.sidebar {
    /* grid-row: span 7; */
    background-color: darkkhaki;
    position: fixed;
    ;
    /* top: 0; */
    border-radius: var(--br);
    height: 80vh;
}

.home {
    grid-column-start: 2;
    border-radius: var(--br);
    height: 80vh;
}

.About {
    background-color: black;
    border-radius: var(--br);
    grid-column-start: 2;

}

.service {
    background-color: blueviolet;
    border-radius: var(--br);
    grid-column-start: 2;

}

.resume {
    background-color: green;
    border-radius: var(--br);

    grid-column-start: 2;
    /* grid-column-end: 3; */
}

.work {
    background: yellowgreen;
    border-radius: var(--br);

    grid-column-start: 2;

}

.blog {
    background: lightgreen;
    border-radius: var(--br);

    grid-column-start: 2;

}

.contact {
    background-color: blue;
    grid-column-start: 2;
    border-radius: var(--br);



}