body {
    background-color: #F4F5FD;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 0;
    margin: 0
}

.wrapper {
    display: inline-flex;
    border: 1px solid rebeccapurple;
    min-height: 620px;
    flex-direction: row;
    width: 80%;


}

header {
    border: 1px solid red;
    flex-grow: 1;

}