@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

:root {
    --primary-font: 'Domine';
    --text-decor: none;
}

body {
    background-color: #F4F5FD;

}

a{
    text-decoration: none;
    color:white;
}
#main-wrapper{
    width: 80%;
    margin: 10px auto;
}
/* //sidebar css */

.sidebar{
    width: 190px;
    background-color: coral;
    padding: 14px;
    border-radius: 30px;
    position: fixed;
    min-height: 620px;
}
.nav-sidebar{
    padding: 22px;
}
.imageProfile {
    width: 90px;
}
.name{
    padding: 0;
    margin: 0;
}
nav ul {
    list-style-type: none;
    padding: 39px 0 8px 0;
    margin: 0;
    font-size: 22px;
}
nav ul li{
    margin: 12px 0 0 0;
}

/* //main section */

.intro{
    float: right;
    min-height: 620px;
    width: 875px;
    background-color: cadetblue;
    padding: 14px;

}