@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

:root {
    --primary-font: 'Domine';
    --text-decor: none;
}

body {
    background-color: #F4F5FD;
    color: white;
    width: 80%;
    margin: 0 auto;

}
/* //header section */


sidebar{
    position: absolute;
    margin-top: 50px;
}

.profileImage{
    border-radius: 30px ;
    width:190px;
    padding: 30px;
    background-color: #4A63E7;
    font-size: 14px;
}

.imageProfile {
    width: 90px;
}

.name{
    display: block;
    font-size: 28px;
    font-weight: 700;
}
.nav ul {
    list-style-type: none;
    padding: 39px 0 8px 0;
    margin: 0;
    font-size: 22px;
}


nav li{
    

}